<style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
*{
    font-family: 'Secular One', sans-serif;
    font-size: 3vw;
}
a{
    color: blue;
}
    header{
        width: 100vw;
        height: 5vw;
        background-color: blue;
    }
    .main-image{
        width: 100vw;
        clip-path: polygon(0 0, 100% 0, 100% 94%, 72% 98%, 56% 89%, 0 96%);
    }
    .button-3d{
        background-color: blue;
        font-size: 6vw;
        box-shadow: 1.5vw 1vw rgb(99, 99, 155);
        margin-bottom: 20vw;
    }
    .button-3d:active{
        background-color: blue;
        font-size: 6vw;
        box-shadow: 0vw 0vw rgb(99, 99, 155);
        margin-top: 1.5vw;
        margin-left: 1vw;
        
    }
    i{
        font-size: 7vw;
        

    }
    
   
</style>
<header></header>

<div><img  class="main-image" src="water.jpg"></div>
<center>
<body>
    
    <h1 class="intro"><i>"Water" you waiting for?</i></h1>  
    
<p>Water supply in your area off again? Can't wash your hands, flush your toilets, or wash your dirty dishes?</p>

<p>We have a solution.
</p>

<p>Simply contact BrightServe Plumbing for an obligation free quote to supply and install a backup water supply system to your home.
    Starting from as little R25 000.00, you and your family can have peace of mind and clean hands.
    
</p>
<h3>"Water" deal!</h3>
<h4>
    <a herf="#">Click here</a> to request a quote or call 071 351 9625</h4>
</div>
</body>
</center>
